@model BookingApp.Models.BookingModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.RoomNumber)--!>
                            Room Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.ClientsName)--!>
                        Clients Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientsName)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Description)--!>
                        Descriptoin of the guest's needs
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <!--@Html.DisplayNameFor(model => model.Adress)--!>
                        Adress of guest
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }, new { @class = "btn btn-success", @type = "submit" })                
</div>
